* {
    margin: 0px;
    padding: 0px;
}

#content {
    /*width: 960px;*/
    margin: 0 auto;
    padding-top: 20px;
}

#map-view {
    display:block;
    float:left;
    width: 1260px;
    padding: 10px 30px;
}

#players {
    display:block;
    float:left;
    width: 400px;
}

#players .title {
    margin-bottom: 15px;
}

#players .more-info {
    margin-left: 30px;
}


#controls {
    display:block;
    float:left;
}