* {
    margin: 0;
    padding: 0;
}

strong {
    color: #337ab7;
}

/* HEADER STYLES */

.navbar {
    margin-bottom: 0px;
}

/*.navbar-header .header-action {
    display: block;
    float: right;
    margin-right: 10px;
}*/

.navbar-username {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 130px;
}

.navbar-username span {
    font-size: 28px;
    color: #337ab7;
}

.navbar-actions {
    display: inline-block;
    margin-right: 15px;
}

.navbar-action {
    margin-left: 10px;
}

.navbar-header i {
    margin-top: 10px;
}

.navbar-header i.logout-icon {
    transform: rotate(180deg);
}
/* INDEX STYLES */

#index-view {

}

#index-view .index-title {
    margin-bottom: 20px;
}

#index-view .player-name {
    padding: 10px;
    border: 1px solid #2e6da4;
    background-color: rgba(46, 109, 164, .1);
    width: 100%;
    margin-bottom: 10px;
}

#index-view .index-submit {
    padding: 8px;
    float: right;
}

/* PLAYER PAGE STYLES */

#player-view #tools {
    margin-bottom: 10px;
}

#player-view #messages #chat-input {
    padding: 10px;
    border: 1px solid #2e6da4;
    background-color: rgba(46, 109, 164, .1);
    width: 100%;
}

#player-view #messages .btn-primary {
    margin-top: 4px;
    margin-left: 10px;
    float: right;
}