@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
    margin: 0;
    padding: 0;
}

strong {
    color: #337ab7;
}

html, body {
  background-color: #FF9000;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body a {
  color: #FFF;
}

.spacechat-submit {
  border-radius: 6px;
  text-align: center;
  border: 1px solid transparent;
  background-image: none;
  background-color: rgba(0, 0, 0, .4);
  color: #FFF;
}

.spacechat-input-container {
  padding-left: 0px;
}

.padded {
  padding-right: 5px;
}

.spacechat-input {
  border: 1px solid #FFF;
  background-color: rgba(46, 109, 164, .1);
  margin-bottom: 10px;
  color: #FFF;
  width: 100%;
}

.spacechat-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}


/* HEADER STYLES */

.navbar {
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, .2);
    border: none;
}

.navbar-logo {
    height: 50px;
}

.navbar-logo .logo-text {
    display: inline-block;
    float: left;
}

.navbar-logo .logo-text a{
    font-size: 1.4em;
    line-height: 50px;
    color: #000;
}

.navbar-logo .back-icon {
    display: inline-block;
    float: left;
}


.navbar-logo .back-icon i {
    font-size: 40px;
    line-height: 50px
}

.navbar-actions {
    height: 50px;
    text-align: right;
}

.navbar-actions a {
    margin-left: 10px;
}

.navbar-actions a i{
    font-size: 32px;
    line-height: 50px;
}

.navbar-actions a span {
    line-height: 50px;
}

.navbar-header i.logout-icon {
    transform: rotate(180deg);
}
/* INDEX STYLES */

#index-view {

}

#index-view .index-title {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: right;
}

#index-view .index-title h2{
  font-size: 50px;
  color: #FFF;
}

#index-view .player-name {
    padding: 10px;
}

#index-view .index-submit {
  padding: 10px 12px;
}

#index-view .index-content p{
  font-weight: bold;
}

/* PLAYER PAGE STYLES */

#player-view #tools {
    margin-bottom: 10px;
}

#player-view #tools .sabotage-button {
  width: 100%;
  padding: 6px 12px;
}

#player-view #messages .chat-input {
  padding: 10px;
}

#player-view #messages .chat-submit {
  padding: 10px 12px;
}


/* CREW LIST PAGE STYLES */

#crewlist-view {}

#crewlist-view .crew-list-header {
  margin: 5px;
}

#crewlist-view .crew-list-header .crew-list-info {
  border-radius: 10px;
  border: 1px solid #000;
  text-align: center;
}

#crewlist-view .crew-list-header .crew-list-info h3{
  color: #000;
}

#crewlist-view .crew-list-header .crew-list-info p{
  color: #FFF;
  padding: 0px 8px;
}

#crewlist-view .crew-list {
  margin-bottom: 20px;
}

#crewlist-view .crew-list h4{
  font-weight: bold;
  color: #000;
}

#crewlist-view .crew-list .crew {
  margin-bottom: 5px;
  display:block;
  height: 18px;
}

#crewlist-view .crew-list .crew .player-name {
  color: #FFF;
  font-size: 18px;
  line-height: 18px;
}

#crewlist-view .crew-list .crew .traitor-tag {
  color: #000;
  position: relative;
  left:20px;
}

#crewlist-view .crew-list-controls .controls-button{
  width: 100%;
  padding: 6px 12px;
}