<div id="crewlist-view" ng-controller="CrewListCtrl" >
    <div id="header" ng-include src="'/static/partials/header.html'"></div>
    <div class="container">
        <div class="crew-list-header row">
            <div class="crew-list-info col-xs-12" ng-if="!player.isTraitor">
                <h3>You Are Innocent</h3>
                <p>Prevent the traitors from destroying the ship.</p>
            </div>
            <div class="crew-list-info col-xs-12" ng-if="player.isTraitor">
                <h3>You are a Traitor</h3>
                <p>Sabotage the ship to destroy it.</p>
            </div>
        </div>
        <div class="crew-list row">
            <h4 class="col-xs-offset-4 col-xs-8">Crew List</h4>
            <div class="player-container col-xs-12" ng-show="player.isTraitor">
                <div class="crew" ng-repeat="p in players">
                    <span class="traitor-tag col-xs-4" ng-show="p.isTraitor">[TRAITOR]</span>
                    <span class="traitor-tag col-xs-4" ng-show="!p.isTraitor"></span>
                    <span class="player-name col-xs-8">{{p.name}}</span>
                </div>
            </div>

            <div class="player-container col-xs-12" ng-show="!player.isTraitor">
                <div class="crew" ng-repeat="p in players">
                    <span class="traitor-tag col-xs-4"></span>
                    <span class="player-name col-xs-8">{{p.name}}</span>
                </div>
            </div>
        </div>

        <div class="crew-list-controls">
            <button ng-click="controls();" class="controls-button">
                Got it
            </button>
        </div>

<!--         <div ng-hide="connected" id="error" class="row">
            <div class="col-sm-12">
                <p ng-bind="errorMessage"></p>
                <button ng-click="reload();" class="btn btn-primary">Reload Page</button>
            </div>
        </div> -->
    </div>
</div>

