<div id="crewlist-view" ng-controller="CrewListCtrl" >
    <div id="header" ng-include src="'/static/partials/header.html'"></div>
    <div class="container">
        <div ng-show="connected">
            <div class="crew-list-header row">
                <h4 class="col-xs-12"><strong>Current Players</strong></h4>
            </div>
            <div class="crew-list row">
                <div class="player-container col-xs-12" ng-repeat="player in players">
                    <div ng-show="server_player.isTraitor">
                        <span class="traitor-tag" ng-if="player.isTraitor">[TRAITOR]</span> 
                        <span class="player-name">{{player.name}}</span>
                    </div>
                    <div ng-show="!server_player.isTraitor">
                        <span class="player-name">{{player.name}}</span>
                    </div>

                </div>
            </div>
        </div>

        <div ng-hide="connected" id="error" class="row">
            <div class="col-sm-12">
                <p ng-bind="errorMessage"></p>
                <button ng-click="reload();" class="btn btn-primary">Reload Page</button>
            </div>
        </div>
    </div>
</div>

