<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-logo col-xs-6">
            <div class="logo-text">
                <a href="#">{{player.name}}</a>
            </div>
            <div class="connection-status" ng-if="connected">
                Connected
            </div>
            <div class="connection-status red" ng-if="!connected">
                Disconnected
            </div>
        </div>
        
        <div class="navbar-actions col-xs-6">
            <a class="navbar-action" ng-click="crew_list();" ng-hide="page == 'crew_list'">
                <span>Crew List</span>
            </a>
            <a class="navbar-action" ng-click="controls();" ng-hide="page == 'player'">
                <span>Controls</span>
            </a>

        </div>
    </div>
</nav>