<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-logo col-xs-4 vertical-align">
            <div class="logo-text">
                <a href="#">{{player.name}}</a>
            </div>
        </div>
        
        <div class="navbar-actions col-xs-8 text-right vertical-align">
            <a class="navbar-action" ui-sref="crew_list" ui-sref-active="active">Crew List</a>
            <a class="navbar-action" ui-sref="player" ui-sref-active="active">Controls</a>
        </div>
    </div>
</nav>