<nav class="navbar navbar-default" ng-controller="HeaderCtrl">
    <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <div class="navbar-logo col-xs-6">
                <div class="back-icon" ng-show="current_page == 'settings'">
                    <a ng-click="goToPlayer();">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </div>
                <div class="logo-text">
                    <a href="#">SpaceChat</a>
                </div>
            </div>
            
            <div class="navbar-actions col-xs-6">
                <a class="navbar-action" ng-show="player_name" ng-click="logout();">
                    <i class="material-icons logout-icon">exit_to_app</i>
                </a>
                <a class="navbar-action" ng-click="settings();">
                    <i class="material-icons settings-icon">group</i>
                </a>
            </div>


        </div>
    <!--</div>/.container-fluid -->
</nav>