<div id="index-view" ng-controller="IndexCtrl" class="container">
    <div id="toaster"></div>
    <div class="index-title row">
        <h2 class="col-xs-12">SpaceChat</h2>
        <div class="col-xs-12">
            <span class="connection-status" ng-if="connected">Connected</span>
            <span class="connection-status red" ng-if="!connected">Disconnected</span>
        </div>
        <div class="col-xs-12">
            <span class="game-status" ng-if="game_started">Game Started</span>
            <span class="game-status red" ng-if="!game_started">Game Not Started</span>
        </div>
    </div>

    <div class="row">
        <div class="index-content col-xs-12" ng-show="!showContinue()">
            <p>What's your name?</p>
            <form ng-submit="submitName(input_name);" >
                <div class="spacechat-input-container">
                    <input class="player-name spacechat-input" type="text" ng-model="input_name" auto-focus
                    ng-change="changeClass();" />
                </div>
                <input class="index-submit spacechat-submit col-xs-2" type="submit" value="Go"
                    ng-show="input_name != ''" />
            </form>
        </div>
        <div class="index-continue col-xs-12" ng-show="showContinue()">
            <!-- <p class="col-xs-6">Continue as {{getSavedName()}}?</p> -->
            <button ng-click="rejoin();" class="btn btn-primary col-xs-12">Continue as {{getSavedName()}}</button>
            <button ng-click="resetName();" class="btn btn-default col-xs-12">Pick new name</button>
        </div>
    </div>

    <div class="index-orientation row">
        <div class="orientation-text col-xs-12">
            <p>Please hold phone vertically. Thanks!</p>
        </div>
        <div class="orientation-image col-xs-12">
        </div>
    </div>
</div>
