<div id="index-view" ng-controller="IndexCtrl" class="container">
    <div class="index-title row">
        <h2 class="col-sm-12">SpaceChat</h2>
    </div>

    <div class="row">
        <div class="index-content col-xs-12">
            <p>What's your name?</p>
            <form ng-submit="submitName();" >
                <div class="spacechat-input-container">
                    <input class="player-name spacechat-input" type="text" ng-model="player_name" auto-focus 
                    ng-change="changeClass();" />
                </div>
                <input class="index-submit spacechat-submit col-xs-2" type="submit" value="Go"
                    ng-show="player_name != ''" />
            </form>
        </div>
    </div>

    <div class="index-orientation row">
        <div class="orientation-text col-xs-12">
            <p>Please hold phone vertically. Thanks!</p>
        </div>
        <div class="orientation-image col-xs-12">
        </div>



    </div>



</div>
