
<div id="player-view" ng-controller="PlayerCtrl" >
    <div id="header" ng-include src="'/static/partials/header.html'"></div>
    <div class="container">
        <div id="player-controls" ng-controller="ControlAreaCtrl" class="row"></div>

        <div ng-show="player.isTraitor" id="tools" class="row">
            <div class="col-sm-12">
                <button ng-click="sabotage();" class="sabotage-button spacechat-submit" ng-hide="player.room == ''">
                    Sabotage {{player.room}}
                </button>
            </div>
        </div>

        <div id="messages" class="row">
            <div class="col-sm-12">
                <form ng-submit="sendChat();">
                    <input type="text" ng-model="chat" class="chat-input spacechat-input col-xs-8" placeholder="Message Everyone">
                    <input type="submit" class="chat-submit spacechat-submit col-xs-3 col-xs-offset-1" value="Send" />
                </form>
            </div>

        </div>
    </div>

<!--     <div ng-hide="connected" id="error" class="row">
        <div class="col-sm-12">
            <p ng-bind="errorMessage"></p>
            <button ng-click="reload();" class="btn btn-primary">Reload Page</button>
        </div>
    </div> -->
</div>

