<div id="header" ng-include src="'/static/partials/header.html'"></div>
<div id="settings-view" ng-controller="SettingsCtrl" class="container">

    <div ng-show="connected">
        <div id="player-list" class="row">
            <ul>
                <li class="col-xs-12" ng-repeat="player in players">
                    <div ng-show="server_player.isTraitor">
                        <span class="traitor-tag" ng-if="player.isTraitor">[TRAITOR]</span>{{player.name}} 
                    </div>
                    <div ng-show="!server_player.isTraitor">
                        {{player.name}} 
                    </div>

                </li>
            </ul>
        </div>
    </div>

    <div ng-hide="connected" id="error" class="row">
        <div class="col-sm-12">
            <p ng-bind="errorMessage"></p>
            <button ng-click="reload();" class="btn btn-primary">Reload Page</button>
        </div>
    </div>
</div>

