<!doctype html>
<html>
    <head>
        <title>SpaceChat | Map</title>
        <link href="/static/css/map.css" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            <div id="map">

            </div>
            <!-- <canvas id="map" width="800" height="600"></canvas> -->

            <div id="players">
                <p>Player List</p>
                <ul id="player-list">

                </ul>
            </div>

            <div id="controls">
                <button id="reset">Reset</button>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/map/main.js"></script>
        <!-- <script data-main="/static/js/map/main.js" src="/static/js/lib/require.js"></script> -->
    </body>
</html>
